.vs/
bin/
obj/
**/bin/
**/obj/
*.user
*.suo
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
*.DotSettings.user
logs/
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/
out-tsc/
**/out-tsc/
